name: Sphinx Auto Code To Document

on:
  workflow_call:
    inputs:
      codeRepo:
        description: "code repository"
        required: true
        type: string
      docRepo:
        description: "document repository"
        required: true
        type: string
      BRANCH_NAME:
        description: "the branch name get by env"
        required: true
        type: string
    secrets:
      docRepoSecret:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest

    steps: 

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: artifact
    
    - name: Install dependencies
      run: sudo apt-get install doxygen

    - name: Doxygen Run
      run: doxygen

    - name: Set git config
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        

    - name: Checkout docs repository
      uses: actions/checkout@v3
      with:
        repository: ${{ inputs.docRepo }}
        token: ${{ secrets.docRepoSecret }}
        path: ${{ inputs.docRepo }}

    - name: Copy built docs to docs repository
      run: cp -r /docs/doxygen ${{ inputs.docRepo }}

    - name: Push changes to docs repository
      env:
        BRANCH_NAME: ${{ inputs.BRANCH_NAME }}
      run: |
        cd ${{ inputs.docRepo }}
        git add .
        if git diff-index --quiet HEAD; then
        echo "No changes to commit"
        else
        git commit -m "Update documentation"
        git push origin $BRANCH_NAME
        fi
