name: DoxygenAutoCodeToDoc
on:
  workflow_call:
    inputs:
      docRepo:
        description: "document repository"
        required: true
        type: string
      BRANCH_NAME:
        description: "the branch name get by env"
        required: true
        type: string
jobs:
  build:
    runs-on: ubuntu-latest

    steps: 

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: artifact
    
    - name: Install dependencies
      run: sudo apt-get install doxygen

    - name: Doxygen Run
      run: doxygen

    - name: Show variables
      run: |
        echo "${{ inputs.docRepo }}"
        echo "${{ inputs.BRANCH_NAME }}"

    - name: Checkout docs repository
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.docRepo }}
        token: Input required and not supplied: token
        path: ${{ inputs.docRepo }}

    - name: Copy built docs to docs repository
      run: cp -r /docs/doxygen ${{ inputs.docRepo }}

    - name: Push changes to docs repository
      env:
        BRANCH_NAME: ${{ inputs.BRANCH_NAME }}
      run: |
        cd ${{ inputs.docRepo }}
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        if git diff-index --quiet HEAD; then
        echo "No changes to commit"
        else
        git commit -m "Update documentation"
        git push origin $BRANCH_NAME
        fi
