name: DoxygenAutoCodeToDoc
on:
  workflow_call:
    inputs:
      docRepo:
        description: "document repository"
        required: true
        type: string
      BRANCH_NAME:
        description: "the branch name get by env"
        required: true
        type: string
    secrets:
      docRepoSecret:
        required: true
       
jobs:
  build:
    runs-on: ubuntu-latest

    steps: 

    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: artifact
    
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install doxygen
        sudo apt install graphviz

    - name: Doxygen Run
      run: doxygen

    - name: Show variables
      run: |
        echo "${{ inputs.docRepo }}"
        echo "${{ inputs.BRANCH_NAME }}"

    - name: Check if branch exists
      id: check-branch
      run: |
        if git rev-parse --verify "origin/$BRANCH_NAME" > /dev/null 2>&1; then
        echo "Branch exists"
        echo "branch_exists=true" >> $GITHUB_OUTPUT
        else
        echo "Branch does not exist"
        echo "branch_exists=false" >> $GITHUB_OUTPUT
        fi

    - name: Checkout docs repository
      if: steps.check-branch.outputs.branch_exists = 'false'
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.docRepo }}
        token: ${{ secrets.docRepoSecret }}
        path: ${{ inputs.docRepo }}

    - name: Checkout docs repository
      if: steps.check-branch.outputs.branch_exists = 'true'
      uses: actions/checkout@v4
      with:
        repository: ${{ inputs.docRepo }}
        token: ${{ secrets.docRepoSecret }}
        path: ${{ inputs.docRepo }}
        ref: ${{ inputs.BRANCH_NAME }}

    - name: Copy built docs to docs repository
      run: cp -r docs/doxygen ${{ inputs.docRepo }}

    - name: Push changes to docs repository
      if: steps.check-branch.outputs.branch_exists = 'false'
      env:
        GITHUB_TOKEN: ${{ secrets.docRepoSecret }}
        BRANCH_NAME: ${{ inputs.BRANCH_NAME }}
      run: |
        cd ${{ inputs.docRepo }}
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git checkout -b $BRANCH_NAME
        git add .
        if git diff-index --quiet HEAD; then
        echo "No changes to commit"
        else
        git commit -m "Update documentation"
        git push -u origin $BRANCH_NAME
        fi

    - name: Push changes to docs repository
      if: steps.check-branch.outputs.branch_exists = 'true'
      env:
        GITHUB_TOKEN: ${{ secrets.docRepoSecret }}
        BRANCH_NAME: ${{ inputs.BRANCH_NAME }}
      run: |
        cd ${{ inputs.docRepo }}
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        if git diff-index --quiet HEAD; then
        echo "No changes to commit"
        else
        git commit -m "Update documentation"
        git push -u origin $BRANCH_NAME
        fi
